# =========================
# DEPENDENCIAS
# =========================
backend/node_modules/
frontend/node_modules/

# =========================
# BUILD FRONTEND
# =========================
frontend/dist/

# =========================
# LOGS
# =========================
npm-debug.log*

# =========================
# VITE
# =========================
.vite/

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.tmp
*.temp

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db